body {
    padding: 12px;
}

#card-panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 8px;
}

.card {
    cursor: pointer;
}

.card:hover {
    background-color:#f1f1f4;
    transition: 0.2s;
    animation: shake 0.1s;
}

.badge-available {
    margin-left: 8px;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(1deg); }
    66% { transform: rotate(0deg); }
    100% { transform:  rotate(-1deg); }
  }