body {
    padding: 12px;
}

#card-panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 8px;
}

.card {
    cursor: pointer;
}

.card:hover {
    background-color:#f1f1f4;
    transition: 0.4s;
}

.badge-available {
    margin-left: 8px;
}